        .fixed-panel {
            min-height: 500px;
            max-height: 500px;
            background-color: #19313c;
            color: white;
            overflow: auto;
        }
        .media-list {
            overflow: auto;
            clear: both;
            display: table;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: normal;
            line-break: strict;
        }
        h1{
            margin-left: 200px;
            font-size: 50px;
            font-style: inherit;
            font-weight: bold;
            color: white;
        }
        .hello{
            align-items: center;
            margin-top: 10px;
            margin-left: 300px;
        }
        .botText{
            font-size: 20px;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .userInput{
            margin-left: 50px;
            color: green;
        }
        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 6px solid transparent;
            border-radius: 25px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .panel-info {
            border-color: #0c2735;
        }
        .panel-info>.panel-heading {
            color: white;
            background-color: #0c2735;
            border-color: #0c2735;
        }
        .panel-footer {
            padding: 10px 15px;
            background-color: #0c2735;
            border-top: 1px solid #0c2735;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px
        }
        body {
            background: url('../static/health.jpg');
            background-repeat:no-repeat;
            background-size: cover;
            align-items: center;
        }
